<%= form_with(model: @blog, local: true, url: choose_new_or_edit ) do |form| %>
  <% if @blog.errors.any? %>
    <div id = "error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります</h2>
      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="blog_cntent">
    <%= form.label :content %>
    <%= form.text_field :content %>

    <%= form.label :image %>
    <%= image_tag(@blog.image.url) if @blog.image.url %>
    <div class = file>
      <%= form.file_field :image , id: :blog_image %>
      <%= form.hidden_field :image_cache %>
    </div>
  </div>
  <%= form.submit "登録する", :class => "btn btn-success" %>
<% end %>

<%= link_to "Smile一覧画面にもどる", blogs_path, class:"btn btn-primary" %>
