<div class = "container">
  <div class = "top">
    <h1>Smile一覧</h1>
  </div>
  <%= notice %>
  
  <div class = "row">
    <div class = "col-md-7 row_A">
      <div class = "col-md-12"><h4>内容</h4></div>
    </div>
    <div class = "col-md-5 row_B">
      <div class = "col-md-4"><h4></h4></div>
      <div class = "col-md-4"><h4></h4></div>
      <div class = "col-md-4"><h4></h4></div>
    </div>
  </div>
    <% @blogs.each do |blog| %>
      <div class = "row">
        <div class = "row_A col-md-7">
          <div class = "col-md-12"><%= blog.content %></div>
        </div>
        <div class = "col-md-5 row_B">
          <div class = "col-md-4"><%= link_to "詳細", blog_path(blog.id) , class:"btn btn-info" %></div>
          <div class = "col-md-4"><%= link_to "編集", edit_blog_path(blog.id) , class:"btn btn-default"%></div>
          <div class = "col-md-4"><%= link_to "削除", blog_path(blog.id), method: :delete ,data: {confirm: "本当に削除していいですか?"} , class:"btn btn-danger" %></div>
        </div>
      </div>
    <% end %>
  <!--</table>-->
  
</div>  
  <%= link_to "新しくSmileを作成する", new_blog_path ,class:"btn btn-success" %>
