<div class = "container">
  <div class = "top">
    <h1>Smile一覧</h1>
  </div>
  <%= notice %>


    <% @blogs.each do |blog| %>
      <div class = "row">
        <div class = "row_A col-md-7 col-xs-12">
          <div class = "col-md-12 col-xs-12"><%= blog.content %></div>
          <dev class = "col-md-12 col-xs-12"><%= blog.image %></dev>
        </div>
        <div class = "row_B col-md-5 col-xs-12">
          <div class = "col-md-4 col-xs-4"><%= link_to "詳細", blog_path(blog.id) , class:"btn btn-info" %></div>
          <% if blog.user_id == current_user.id %>
            <div class = "col-md-4 col-xs-4"><%= link_to "編集", edit_blog_path(blog.id) , class:"btn btn-default"%></div>
            <div class = "col-md-4 col-xs-4"><%= link_to "削除", blog_path(blog.id), method: :delete ,data: {confirm: "本当に削除していいですか?"} , class:"btn btn-danger" %></div>
          <% end %>
        </div>
      </div>
    <% end %>
</div>
  <%= link_to "新しくSmileを作成する", new_blog_path ,class:"btn btn-success" %>
