<!DOCTYPE html>
<html>
  <head>
    <title>Smile</title>
    <%= csrf_meta_tags %>
    <meta name ="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  　
  </head>

  <body>

    <header>
      <ul>
        <li><%= link_to "HOME", root_path %></li>
        <li><%= link_to "Smile一覧", blogs_path %></li>
        <li><%= link_to "新規Smile", new_blog_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Profile", user_path(current_user.id) %></li>
          <li><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>

        <% else %>
          <li><%= link_to "Sign up", new_user_path %></li>
          <li><%= link_to "Login", new_session_path %></li>

        <% end %>
      </ul>
    </header>

    <div id = "login">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

    </div>
    <%= yield %>

    <footer>
      <p>運営会社Yoppi株式会社</p>
      <p>© 2015-2016 Copyright Yoppi Corp.</p>
    </footer>
  </body>
</html>
