<%= form_with(model: cotact, local: true) do |form| %>
  <% if cotact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cotact.errors.count, "error") %> prohibited this cotact from being saved:</h2>

      <ul>
      <% cotact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :cotact_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :cotact_email %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :cotact_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
