<p id="notice"><%= notice %></p>

<h1>Cotacts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cotacts.each do |cotact| %>
      <tr>
        <td><%= cotact.name %></td>
        <td><%= cotact.email %></td>
        <td><%= cotact.content %></td>
        <td><%= link_to 'Show', cotact %></td>
        <td><%= link_to 'Edit', edit_cotact_path(cotact) %></td>
        <td><%= link_to 'Destroy', cotact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cotact', new_cotact_path %>
